.canvas1{
    border: 1px solid black;
    display: block;
    
}
.claseimagen{
    display: none;
}
.claseelementoAlmacen{
    width: 500px;
    height: 400px;
    border: 1px solid black;
}
.claseelementoAlmacen2{
    width: 500px;
    height: 400px;
    border: 1px solid black;
}
